.battleship_cell {
    font-size: large;
    background-color: white;
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
}

.battleship_cell:hover {
    background-color: rgb(220, 220, 220);
}

.battleship_cell:disabled:hover {
    background-color: white;
}
